
.line1 h2{
    padding: 30px;
    text-transform: uppercase;
}


.image{

    display: flex;
    gap: 20px;
    
}

.image img{
    width: 100%;
}

.main1{
    background-image: url("images/Rectangle\ 7\ \(1\).png");
    padding-top: 20px;
    padding-bottom: 60px;
    border-top: 1px solid var(--font-primary-color);
    border-bottom: 1px solid var(--font-primary-color);
}

.line2 h2{
    padding: 30px;
    text-transform: uppercase;
}


.projects{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}
.my-project img{
width: 100%;
}

.check-all-projects button{

padding: 5px 30px;
background-color: var(--background-color);
text-transform: uppercase;
margin-top: 25px;
margin-bottom: 35px;
border-top: 1px solid var(--font-primary-color);
border-bottom: 1px solid var(--font-primary-color);
border-left: 1px solid var(--font-primary-color);
border-right: 1px solid var(--font-primary-color);
font-size: 30px;
}
.check-all-projects{
    display: flex;
    justify-content: center;
   
}


.my-blog{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.my-blogs img{
width: 100%;
  
}
.tag{
    background-color: var(--font-primary-color);
    width: fit-content;
    padding: 10px 30px;
    border-radius: 50px;
    margin: 30px 00px;
}

.tag h1{
    color: black;
}


.date-name{
    display: flex;
    gap: 20px;
}
.date{
    display: flex;
    align-items: center;
}

.round{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: blueviolet;

}

.round2{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: blue;

}
.blog-title{
    margin: 30px 0px;
}
.blog-title h1{
    font-family: Poppins;
font-size: 32px;
font-weight: 400;
line-height: 48px;
text-align: left;

}


.testimonials h1{

    text-align: center;
    text-transform: uppercase;
    padding : 40px;
color:   #BA0BF9;
}

.des{

    font-family: Poppins;
font-size: 22px;
font-weight: 400;
line-height: 33px;
text-align: center;

}